
.vertical-menu {
    width: 200px;
    align-content: left;
    float: left;
    padding: 15px;
    font-family : Arial, sans-serif, verdana ;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: mediumpurple;
    color: white;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    font-family : Arial, sans-serif, verdana ;
}

h1{
    font-family : Arial, sans-serif, verdana ;
    align-content: center;
}
h2{
    font-family : Arial, sans-serif, verdana ;
    align-content: center;
}
body{
    background-color: #f5e0ff;
}

table{
    background-color: white;
    border-spacing: 5px;
}

#b{
    background-color: #b1b4b5;
}

td {
    padding: 10px;
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
button{
    align-content: center;
}


